@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2><br/>


<p>To use this MVC project, click on MVCMovie.</p><br/>

<p>This projects is an example of MVC using C#. The project allows users to View, Create, Delete, and Edit items(movies) to a table.</p>
