@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2><br/>




<address>
    <strong>Name:</strong> <p>George Rodriguez</p>
    <strong>Email:</strong><br/> <a href="mailto:grodriguez0127@gmail.com">grodriguez0127@gmail.com</a><br/>
    <strong>Website:</strong><br/> <a href="http://www.grodriguez.org" target="_blank">grodriguez.org</a>
</address>
